.onboarding-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  height: 100dvh;
  padding: 20px;
  background-image: url('../../../assets/onboard_ui.png');
  background-size: cover;
  background-position: center;
  color: #E4D8CA;
  overflow: hidden;
}

.onboarding-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-controls {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
} 